* {
    box-sizing: border-box;
}

.cirlc-progress-wrapper {
    @apply p-4;
}

.circle-progress {
    @apply h-[160px] w-[160px] relative;
}

.outer {
    @apply h-[160px] w-[160px] rounded-[50%] p-5;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0, 15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
}

.inner {
    @apply h-[120px] w-[120px] rounded-[50%] flex justify-center items-center;
    /* box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05); */
}

.circle-text {
    @apply text-white flex flex-col justify-center items-center;
}

.circle-para {
    @apply text-xs font-semibold opacity-60;
}

.circle-header {
    @apply text-[2.2rem] font-bold;
}

circle {
    @apply fill-none stroke-[url(#GradientColor)] stroke-[20];
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg {
    @apply absolute top-0 left-0;
}

@keyframes anim {
    100% {
        stroke-dashoffset: 250;
    }
}
